<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BMI Calculator</title>
        <link href="/static/styles.css" rel="stylesheet">
    </head>

    <body>
        <h1>BMI History</h1>
        <div>
            <img src="data:image/png;base64,{{ plot_url }}" alt="BMI History Graph" class="center">
        </div>
        <br>
        <button onclick="window.close()" class="center_close">Close</button>
    </body>

</html>
